.hero .block{
    position: absolute;
    width:50px;
    height: 100px;
    background:#e80202;
    box-shadow: 10px 10px 50px rgba(0.5,0.5,0.5,0.5);
}
.hero h2{
    font-family: 'Roboto',sans-serif;
    color:#fff;
    text-align:center;
    font-size: 12vw;
    line-height: 1em;
    z-index:1000;
    font-weight: 900;
    animation: FadeIn 12s ;
    
    transition-timing-function: linear;
}
.hero h2 span{
    font-size:0.2em;
    letter-spacing: 0.4em;
    font-weight: 400;
    text-transform: uppercase;
}
@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    75% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes FadeIn {
0% {
    opacity: 0;
}

25% {
    opacity: 0;
}

50% {
    opacity: 0;
}

75% {
    opacity: 0.5;
}

100% {
    opacity: 1;
}
}

@-o-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    75% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 1;
    }
}

@-ms-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    75% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 1;
    }
}
/*--------------------------------------------------------------
# speaker Section
--------------------------------------------------------------*/
.speaker .speaker-member .member-img {
  border-radius: 8px;
  overflow: hidden;
}
.speaker .speaker-member:hover .member-img {
  transform: scale(0.5);
}
.speaker .speaker-member .social {
  position: absolute;
  left: 0;
  top: -18px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.speaker .speaker-member .social a {
  transition: color 0.3s;
  color: var(--color-white);
  background: white;
  margin: 0 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: 0.3s;
}
.speaker .speaker-member .social a i {
  line-height: 0;
  font-size: 16px;
}
.speaker .speaker-member .social a:hover {
  background: #e80202;
  text-decoration: none;
}
.speaker .speaker-member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.speaker .speaker-member .member-info {
  padding: 30px 15px;
  text-align: center;
  box-shadow: 0px 2px 15px rgba(var(--color-black-rgb), 0.1);
  background: white;
  margin: -50px 20px 0 20px;
  position: relative;
  border-radius: 8px;
}
.speaker .speaker-member .member-info h4 {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 24px;
  color: #e80202;
}
.speaker .speaker-member .member-info span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-gray);
}
.speaker .speaker-member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: var(--color-gray);
}
.speaker .speaker-member:hover .social {
  opacity: 1;
}
