body{
    overflow-x: hidden;
}

.hero .block{
    position: absolute;
    width:50px;
    height: 100px;
    background:#e80202;
    box-shadow: 10px 10px 50px rgba(0.5,0.5,0.5,0.5);
}
.hero h2{
    font-family: 'Roboto',sans-serif;
    color:#fff;
    text-align:center;
    font-size: 12vw;
    line-height: 1em;
    z-index:1000;
    font-weight: 900;
    animation: FadeIn 12s ;
    
    transition-timing-function: linear;
}
.hero h2 span{
    font-size:0.2em;
    letter-spacing: 0.4em;
    font-weight: 400;
    text-transform: uppercase;
}
@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    75% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes FadeIn {
0% {
    opacity: 0;
}

25% {
    opacity: 0;
}

50% {
    opacity: 0;
}

75% {
    opacity: 0.5;
}

100% {
    opacity: 1;
}
}

@-o-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    75% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 1;
    }
}

@-ms-keyframes FadeIn {
    0% {
        opacity: 0;
    }
    
    25% {
        opacity: 0;
    }
    
    50% {
        opacity: 0;
    }
    
    75% {
        opacity: 0.5;
    }
    
    100% {
        opacity: 1;
    }
}
/*--------------------------------------------------------------
# speaker Section
--------------------------------------------------------------*/
.speaker .speaker-member{
    padding: 0.5rem;
}
.speaker .speaker-member .member-img {
  border-radius: 8px;
  overflow: hidden;
}
.speaker .speaker-member:hover .member-img {
  transform: scale(0.75);
}
.speaker .speaker-member .social {
  position: absolute;
  left: 0;
  top: -18px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.speaker .speaker-member .social a {
  transition: color 0.3s;
  color: black;
  background: white;
  margin: 0 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: 0.3s;
}
.speaker .speaker-member .social a i {
  line-height: 0;
  font-size: 16px;
}
.speaker .speaker-member .social a:hover {
  background: #e80202;
  text-decoration: none;
}
.speaker .speaker-member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.speaker .speaker-member .member-info {
  padding: 30px 15px;
  text-align: center;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  background: white;
  margin: -50px 20px 0 20px;
  position: relative;
  border-radius: 8px;
}
.speaker .speaker-member .member-info h4 {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 24px;
  color: #e80202;
}
.speaker .speaker-member .member-info span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: #6c757d;
}
.speaker .speaker-member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #6c757d;
}
.speaker .speaker-member:hover .social {
  opacity: 1;
}


.pro-heading{
display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Codystar';
    background: black;
}

.neons {
    /* margin-top: 10rem; */
    text-align: center;
}

.neons h1 {
    font-size: 9rem;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        color: #fff;
        text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
    }

    to {
        color: gray;
        text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
    }
}

@media (max-width:800px) {
    .neons h1{
        font-size: 4rem;
    }
    
}
.pro-events{
    height: 100vh;
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 10px;
    background-color: black;
}

.pro-events .event-left{
    background: url('../images/band.jpg')no-repeat fixed;
    background-size: cover;
    height: 90vh;
    flex: 50%;
    border-radius: 20px;
    /* margin-right: 30px; */
   
    
}

.pro-events .event-right{
    background: url('../images/dj.jpg') no-repeat fixed;
    background-size: cover;
    height:90vh;
    flex:50%;
    border-radius: 20px;
}



@media (max-width: 800px) {
    .pro-events {
        flex-direction: column;
        width: 100vw;
        height: 200vh;
    }
    .event-left{
        margin-right:0px;
        margin-bottom: 30px;
    }
    
    
}
@media (min-width:800px) {
    .event-left {
            margin-right: 10px;
            
        }
    .event-right{
        margin-left: 10px;

    }    
}

.effect{
    /* margin: 0; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
}
 
.effect h1 {
     margin: 0;
     padding-bottom: 6rem;
     grid-column: 1;
     grid-row: 1;
     z-index: 1;
     font-family: 'Teko', sans-serif;
     font-size: 6rem;
     text-transform: uppercase;
     animation: glow 2s ease-in-out infinite alternate;
     text-align: center;
 }


 @keyframes glow {
     from {
         text-shadow: 0 0 20px #2d9da9;
     }

     to {
         text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
     }
 }
 
 @media (max-width:800px) {
    .efffect h1{
        font-size: 22rem;
    }
    
 }